doctype html
html
  head
    title  SearchPage
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='fetchemployee.css', type='text/css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
     #myOverlay.overlay
      span.closebtn(onclick='closeSearch()', title='Close Overlay') ×
      .overlay-content
        form(action='/search',method='POST')
          input(type='text', placeholder='Search By EmployeeId..', name='find',required='required')
          button(type='submit')
            i.fa.fa-search
     h2 Search For Employee
     p Click on the button to open the search box.
     button.openBtn(onclick='openSearch()') Open Search Box
      script.
       function closeSearch() {
         document.getElementById("myOverlay").style.display = "none";
        }
       function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
        } 
