html
  head
     base(href="/")
     link(rel='stylesheet', href='slider.css',type = 'text/css')
     title Vinay_Page
  body
   slider
     slide 
      p slide1
     slide 
      p slide2
     slide
      p slide3
     slide
      p slide4  
